
@media screen  and (max-width: 1104px){
        .nav1 {
    font-size: 16px;
    background-color: rgb(238, 243, 242);
    /* padding: 10px 15px; */
    border: none;
    border-radius: 5px;
    color:  rgb(66, 69, 248);
     }
     .navs{
        width: 80%;
         justify-content: space-evenly;
    align-items: center;
     }
      .get-started{
        position: absolute;
        top: 550px;
        left: 20px;
        font-size: 18px;
    }
    .sec1, .sec2{
        width: 300px;
        margin: 15px ;
        height: fit-content;
        height: 200px;
        font-size: 12px;
        /* flex-wrap: wrap; */
    }

    .section2{
        height: fit-content;
    }
    .section4{
        height: fit-content;
    }
   .pic{
    width: inherit;
   }
   .pics img{
    width: 600px;
    height: 550px;
}
    .sec4i{
         width: 40%;
        margin: 15px ;
        /* height: fit-content; */
        height: 400px;
        font-size: 12px;
    }
    .section4a{
        padding: 20px;
    }
    .section5{
      flex-wrap: wrap;
      /* gap: 1rem; */
      justify-content: center;
    }
    .sec5a{
         width: 300px;
        margin: 15px ;
        height: fit-content;
        height: 400px;
        font-size: 16px;
        flex-wrap: wrap; 
        gap: 2rem;
    }
    .container1{
        display: none;
    }
    .container2{
        padding: 20px;
    }
    .image{
        width: 200px;
    }
    .subcontainer1{
        display: flex;
        justify-content: space-between;
        
    }
    .sub2{
        margin-left: 20px;
    }
    .team{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 20pxpx;
    }
    .ex{
        display: none;
        position: absolute;
        top: 100px;
        left: 20px;
    }
    .aboutsec1 p{
        padding: 20px;
    }

    .aboutsec1{
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-top: 20px;
    width: 100%;
    height: fit-content;
        box-shadow: 0px 0px 7px black;
    }

   .sep{
    height: fit-content;
   }
    .team1 > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
    margin-bottom: 20px;
   }

   .imgabout{
    width: 450px;
    height: 400px;
   }
.team1 > h4{
   font-size: 15px;
}
.team1{
    width: 300px;
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px #4245f8;;
    margin: 10px;
}

.text_teamworker{
    margin-top: 3rem;

}

.teamworker{
    height: fit-content;
    flex-wrap: wrap;
}

.img_teamworker img{
    width: 20rem;
    display: none;
}

.icon_container{
    padding: 1rem;
}
.employee_text p{
    font-size: 1.3rem;
}
.footer{
    padding: 4rem;
}
.copy_write p{
    font-size: 1.2rem;
}


.service {
    width: 90%;
}
}  